<div class="nav">
	<div class="banner">
		<a href="/">
			<img src="https://tr.rbxcdn.com/2a25cf54a87cea197636df4a49617908/420/420/Decal/Png">
		</a>
	    <div class="title">
	    	<h1>Maplestory Item Market</h1>
	    </div>
	</div>
    <div class="filters">
    	<div class="filter"><a href="/type/equip">Equips</a></div>
	    <div class="filter"><a href="/type/use">Use Items</a></div>
	    <div class="filter"><a href="/type/setup">Setup Items</a></div>
	    <div class="filter"><a href="/type/etc">Etc. Items</a></div>
	    <div class="filter"><a href="/alphabetical">Alphabetical Order</a></div>
    </div>
</div>
<br><hr>